<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= message %></h1>
    <nav>
      <a href="/">Home</a> | <a href="/form">Form</a> |
      <a href="/image">Image</a>
    </nav>
  </body>
</html>
