<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1>Image Page</h1>
    <nav>
      <a href="/">Home</a> | <a href="/form">Form</a> |
      <a href="/image">Image</a>
    </nav>

    <img src="/lab-1.jpg" alt="lab-1 Image" width="300" />
    <br />
    <a href="/download">Download Image</a>
  </body>
</html>
